@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
	--color-negro:#222;
	--menu-hover:#b68834;
	--color-cafe:#b68834;
	--color-gris:#777;
	--fondo-header:#222;
	--fondo-footer:#282932;
	--fondo-gris:#F8F8F8
	
}
body{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
}
header{
	position: relative;
	background-color: var(--fondo-header);
	width: 100%;
	top:0;
	border-bottom: 1px dashed rgba(255, 255, 255, 0.15);
}

#hero{
	background-image: url("../img/header-bg.jpg");
	background-position: top center;
	background-size: cover;
	background-color: rgba(0,0,0,0.40);
  	background-blend-mode: multiply;
	padding: 25% 0;
	text-align: left;
}

#hero h1{
	font-size: 90px;
	color: #FFFFFF;
	font-weight: 600;
	padding: 20px;
}

#btn.btn-light {
    display: inline-block;
    padding: 10px 50px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    background-color: #FFFFFF;
    color: #000000;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
}

#about{
	padding: 80px;
}

#about h3{
	color: var(--color-cafe);
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 1px;
}


p{
	color: var(--color-negro);
	font-weight: 300;
}

.titulos{
	color: var(--color-negro);
	font-weight: 400;
}

#menu{
	background-image: url("../img/menu-bg.jpg");
	background-position: top center;
	background-size: cover;
	background-color: rgba(0,0,0,0.40);
  	background-blend-mode: multiply;
	padding: 10% 0;
	text-align: left;
}
#menu h2{
	text-align: center;
}
#menu .price{
	color: var(--color-cafe);
	font-weight: bolder;
}

#kind{
	text-align: center;
	padding: 80px;
}
#kind img{
	padding: 20px;
}

#blog{
	padding: 80px;
	background-color:var(--fondo-gris); 
	
}
#blog h2{
	text-align: center;
}
#blog img{
	padding: 20px;
}
footer{
	background-color: var(--fondo-footer);
	background-image: url("../img/footer-bg.jpg");
	background-size: cover;
	background-position: center;
	padding-top: 40px;
	color: rgba(255, 255, 255, 0.55);
	text-align: center;
	font-size: 13px;
	font-weight: 600;
}
footer p span{
	color: var(--color-cafe);
	text-align: center; 
}
footer #copy{
	padding: 20px 0;
	margin-top: 5%;
	color: #fff;
	border-top: 1px dashed rgba(255, 255, 255, 0.15);
}